	</div>
</div>

<div class="page-footer wrapper">
	<div class="page-footer__nav">
		<div class="page-footer__col">
			<nav class="site-nav" id="siteNav">
				<ul class="ui-list">
					<li class="site-nav__item site-nav__item--text">
						<a class="site-nav__link" href="/features">Features</a>
					</li>
					<li class="site-nav__item site-nav__item--text">
						<a class="site-nav__link" href="/community">Community</a>
					</li>
					<li class="site-nav__item site-nav__item--text">
						<a class="site-nav__link" href="/blog">Blog</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="page-footer__col">
			<nav class="site-nav" id="siteNav">
				<ul class="ui-list">
					<li class="site-nav__item">
						<a class="btn btn--primary" href="/download">Download</a>
					</li>
					<li class="site-nav__item">
						<a class="site-nav__social github" href="https://github.com/grafana/" title="GitHub" target="_blank">GitHub </a>
					</li>
					<li class="site-nav__item">
						<a class="site-nav__social twitter" href="https://twitter.com/grafana" title="Twitter" target="_blank">Twitter</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<p class="meta">
		<span>Copyright 2016 © raintank | contact us: </span><a href="mailto:contact@grafana.org">contact@grafana.org</a>
	</p>
</div>


</body>
</html>
