<div class="page-header">
	<div class="wrapper">
		<div class="page-header__branding float-left">
			<a class="" href="/">
				<div class="site-logo">
					<img src="/img/grafana_logo_transparent.png" width="220" alt="Grafana.org">
				</div>
			</a>
		</div>
		<div class="page-header__menu float-right">
			<button class="site-nav__toggle" id="siteNavToggle">
				<span class="t"></span>
				<span class="m"></span>
				<span class="b"></span>
			</button>
			<nav class="site-nav" id="siteNav">
				<ul class="ui-list">
					<li class="site-nav__item site-nav__item--text">
						<a class="site-nav__link" href="/features">Features</a>
					</li>
					<li class="site-nav__item site-nav__item--text">
						<a class="site-nav__link" href="/community">Community</a>
					</li>
					<li class="site-nav__item site-nav__item--text">
						<a class="site-nav__link" href="/blog">Blog</a>
					</li>
					<li class="site-nav__item">
						<a class="btn btn--primary" href="/download">Download</a>
					</li>
					<li class="site-nav__item">
						<a class="site-nav__social github" href="https://github.com/grafana/" title="GitHub" target="_blank">GitHub </a>
					</li>
					<li class="site-nav__item">
						<a class="site-nav__social twitter" href="https://twitter.com/grafana" title="Twitter" target="_blank">Twitter</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
